<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.asche.usosqlite">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".formularios.raza.ActivityConsultaRaza"></activity>
        <activity android:name=".formularios.raza.ActivityRazaConsultaCombo" />
        <activity android:name=".formularios.raza.ActivityRazaConsultaLista" />
        <activity android:name=".formularios.raza.ActivityRazaRegistro" />
        <activity android:name=".formularios.raza.ActivityRazaPrincipal" />
        <activity android:name=".formularios.mascota.ActivityMascotaPrincipal" />
        <activity android:name=".formularios.usuario.ActivityUsuarioPrincipal" />
        <activity android:name=".formularios.usuario.ActivityUsuarioDetalle" />
        <activity android:name=".formularios.usuario.ActivityUsuarioConsultaLista" />
        <activity android:name=".formularios.usuario.ActivityUsuarioConsultaCombo" />
        <activity android:name=".formularios.usuario.ActivityUsuarioConsultaId" />
        <activity android:name=".formularios.usuario.ActivityUsuarioRegistro" />
        <activity
            android:name=".formularios.PrincipalActivity"
            android:screenOrientation="sensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>